.red{
    color: red;
}
.sidebar {
      width: 200px;
      background-color: #3f72af;
      padding: 20px;
      height: 100vh;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    }
    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }
    .sidebar li {
      margin-bottom: 20px;
    }
    .sidebar a {
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      display: block;
      transition: background-color 0.3s;
    }
    .sidebar a:hover {
      background-color: #112d4e;
      padding-left: 10px;
      border-radius: 4px;
  }
.content{
  margin-left: 250px;

}